<!-- Footer Section -->
<footer class="bg-white text-gray-700 py-10 px-5">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Useful Links -->
    <div>
      <h2 class="text-lg font-bold mb-4">Useful Links</h2>
      <ul class="space-y-2 text-gray-400">
        <li><a class="hover:text-gray-600" (click)="about()">Home</a></li>
        <li>
          <a class="hover:text-gray-600" (click)="location()">About Us</a>
        </li>
        <li><a class="hover:text-gray-600" (click)="login()">Login</a></li>
        <!-- <li><a class="hover:text-gray-600" (click)="blog()">Blogs</a></li -->
      </ul>
    </div>

    <!-- Categories -->
    <div>
      <h2 class="text-lg font-bold mb-4">Categories</h2>
      <ul class="space-y-2 text-gray-400">
        <!-- <li><a  class="hover:text-gray-600">Food</a></li> -->
        <li>
          <a class="hover:text-gray-600" (click)="Clothing()">Pickels</a>
        </li>
        <li>
          <a class="hover:text-gray-600" (click)="Essentials()">Podi</a>
        </li>
        
      </ul>
    </div>

    <!-- Request a Call -->
    <div>
      <div class="pt-4">
        <p class="text-gray-600 mb-2">+91 9191919191</p>
        <p class="text-gray-600 mb-4">support&#64;godavariooragaya.co.in</p>
      </div>
    </div>
  </div>
  <div class="pt-7 flex gap-64">
    <div class="flex gap-9 ml-48">
      <div class="mt-2 text-gray-400 text-sm">
        <p>2024 All rights reserved by godavariooragaya</p>
      </div>
      <div class="justify-center text-gray-400 text-sm mt-2">
        <a class="hover:text-gray-600" (click)="privacy()">Privacy policy</a>
      </div>
      <div class="justify-center text-gray-400 text-sm mt-2">
        <a class="hover:text-gray-600" (click)="terms()"
          >Terms and Conditions</a
        >
      </div>
    </div>
    <div>
      <!-- Social Icons -->
      <div class="flex space-x-4">
        <!-- facebook -->
        <a
          href="https://www.twitter.com"
          target="_blank"
          class="hover:opacity-90 transition"
        >
          <span
            class="w-8 h-8 flex items-center justify-center rounded-full bg-[#1DA1F2]"
          >
            <i class="pi pi-facebook text-white text-base"></i>
          </span>
        </a>

        <!-- instagram -->
        <a
          href="https://www.instagram.com"
          target="_blank"
          class="hover:opacity-90 transition"
        >
          <span
            class="w-8 h-8 flex items-center justify-center rounded-full bg-gradient-to-br from-yellow-400 via-pink-500 to-purple-600"
          >
            <i class="pi pi-instagram text-white text-base"></i>
          </span>
        </a>

        <!-- twitter -->
        <a
          href="https://www.twitter.com/"
          target="_blank"
          class="hover:opacity-90 transition"
        >
          <span
            class="w-8 h-8 flex items-center justify-center rounded-full bg-[#000000]"
          >
            <i class="pi pi-twitter text-white text-base"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
</footer>
